#blue, #orange, #green, #red {
      width: 100px;
      height: 100px;
    }

 .crystal-image {
		width: 100px;
		height: 100px;
    }

.display-4 {
	padding-right: 50px;
}

.card-body {
	padding-bottom: 2px;
}

.images {
	margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron {
	max-width: 650px;
	margin-bottom: -4px;
	padding: 20px;
    margin-left: 24px;
}

.counters {
	margin-left: -65px;
	margin-top: 10px;
}

.placement {
	margin-left: 45px;
}

.header {
	margin-top: 5px;
	margin-bottom: 5px;
}

.total {
	/*margin-left: 90px;*/
}

.display-7 {
	text-align: center;
}